#divf{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    float:right;
}
#divf1 {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    clear: left;
}

#div1 {
    width: 600px;
    height: 400px;
    border: 1px solid black;
    float: left;
}
#div2{
    width: 600px;
    height: 400px;
    border: 3px solid black;
    float: right;
}

#img1 {
    float: right;
}
#img2 {
    float: right;
}

#div3 {
    width: 100opx;
    height: 300px;
    border: 3px solid black;
    clear: both;
}
#img3{
    float: left;
}
#img4
{
    float: right;
}