
#h1{
    opacity: 0.1;
    color: black
}
#h1:hover{
    opacity: 1.0;
    color: blue
}
#img1 {
    width: 200px;
    height: 200px;
    opacity: 0.4;
}
#img1:hover{
    opacity: 1.0;
    width: 300px;
    height: 300px
}
#img2{
    opacity: 0.4 ;
}
#img2:hover{
    opacity: 1.0;
}
#img3{
    opacity:0.4 ;
}
#img3:hover{
    opacity: 1.0;
}
#img4{
    opacity:0.4 ;
}
#img4:hover{
    opacity: 1.0;
}