*{
    padding: 0;
    margin: 0;
}
#p1{
    border: 1px solid black;
    width: 200px;
    height: 100px;
    position: static;
}
#p2{
    border: 1px solid black;
    width: 200px;
    height: 100px;
    position: static;
}

#p3{
    border: 1px solid black;
    width: 200px;
    height: 100px;
    position: relative;
    top: 400px;
    left: 500px;
}
#p4{
    border: 1px solid black;
    width: 200px;
    height: 100px;
    position: static;
    background-color: red
}
#p5{
    border: 1px solid black;
    width: 300px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
}
#p6{
    border: 1px solid black;
    width: 200px;
    height: 100px;
    position: static;
}
#p7{
    border: 1px solid black;
    width: 200px;
    height: 100px;
    position: fixed;
    background-color: lightblue;
    top: 100px;
    left: 50px;
}

#p8{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    position: static;
}
#p9{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    position: fixed;
    background-color: gray;
    top: 300px;
    left: 300px;
}
#p10{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    position: fixed;
    top: 50px;
    left: 1000px;
}